@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Outfit', serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    background-color: #FFF;
}

#sidebar {
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    background-color: #0b0f19;
    display: flex;
    flex-direction: column;
}