@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Outfit', serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    background-color: #FFF;
}

#sidebar {
    width: 90px;
    min-width: 90px;
    transition: all 0.25s ease-in-out;
    background-color: #0b0f19;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#sidebar:not(.expand) .sidebar-logo {
    display: none;
}

.toggle-btn {
    width: 30px;
    height: 30px;
    color: #FFF;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323;
}

.toggle-btn i{
    color: #FFF;
}

#sidebar.expand .sidebar-logo {
    animation: fadeln .25s ease;
}

@keyframes fadeln{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.sidebar-logo a{
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}